@import "./../../design/scss_variables.scss";

.grid_item {
  background-color: red;
}

.vent {
  height: 100%;
  box-shadow: 0px 1px 5px rgba($color-black, 0.2);
  background-color: white;

  display: grid;
  grid-template-rows: 150px 0.5rem 1fr 4rem;
  grid-template-columns: repeat(2, 1fr);

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &__img {
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    float: left;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 2rem;
    padding: 0.5rem;

    grid-row: 1/2;
    grid-column: 1 / -1;

    justify-self: center;
    align-self: end;
    z-index: 0;

    box-shadow: 0px 1px 5px rgba($color-black, 0.2);
    width: 80%;
    font-family: $font-display;
    font-size: 1.8rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);

    p {
      margin: 0;
    }
  }

  &__author {
    grid-row: 2 /3;
    grid-column: 1 / -1;

    margin: 3rem auto 0 auto;
    font-size: 1.6rem;
  }

  &__content {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    padding: 7rem 3rem 3rem 3rem;
    line-height: 1.6em;
    font-size: 1.8rem;
  }

  &__date {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    grid-row: 4 /-1;
    grid-column: 1/2;
  }

  &__time {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    grid-row: 4 / -1;
    grid-column: 2 / -1;
  }
}

.button {
  display: block;
  background-color: tomato;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-out;
}
