@import "./../../design/scss_variables.scss";

.new_post__button {
  padding: 5px;
  width: 150px;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  margin-right: auto;
  background-color: $color-secondary-dark;
  color: white;
}

.NewPostButton button:hover,
.NewPostButton button:active {
  color: white;
  background-color: #fa923f;
}

.topicSelect {
  margin-bottom: 20px;
}

.title,
.content,
.author {
  margin: 5px 10px;
}

.NewPostModal input,
.NewPostModal textarea {
  margin: 10px;
  max-width: 95%;
}
