.appTitle {
  margin-top: 20px;
  text-align: center;
  font-family: WorkSans-Bold;
  color: rgb(237, 70, 47);
}

.appBackground {
  /* background-color: orange; */
  height: 100vh;
}

.cardDeck {
  padding: 50px;
}
