.NewPostButton button:hover,
.NewPostButton button:active {
  color: white;
  background-color: #fa923f;
}

.topicSelect {
  margin-bottom: 20px;
}

.title,
.content,
.author {
  margin: 5px 10px;
}

.NewPostModal input,
.NewPostModal textarea {
  margin: 10px;
  max-width: 95%;
}
