// :root {
//   --border-size: 0.125rem;
//   --duration: 250ms;
//   --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
//   --font-family: monospace;
//   --color-primary: white;
//   --color-secondary: black;
//   --color-tertiary: dodgerblue;
//   --shadow: rgba(0, 0, 0, 0.1);
//   --space: 1rem;
// }

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
  padding: calc(var(--space) * 2);
  max-width: 700px;
}
